{% set classes = [
node.bundle|clean_class,
node.isPromoted() ? 'is-promoted',
node.isSticky() ? 'is-sticky',
not node.isPublished() ? 'is-unpublished',
view_mode ? view_mode|clean_class,
'clearfix',
] %}
<div{{ content_attributes.addClass('content') }}>
    <div{{ content_attributes.addClass('content') }}>
        <div class="container">
            <div class="sc-single-column">
                <div class="row">
                    <div class="col-md-12 program-page-secondary-content">
                        <h1 class="programs-title">{{ node.title.0.value }}</h1>
                        {{ content['body'] }}
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12 program-page-secondary-content">
                        {{ content['field_get_started_paragraphs'] }}
                    </div>
                </div>
            </div>
        </div>
        {{ content['field_get_started_parallax_block'] }}
        {{ content['field_second_hero'] }}
    </div>
</div>