{#
/**
 * @file
 * Default theme implementation to display a menu.
 *
 * Available variables:
 * - menu_name: The machine name of the menu.
 * - items: A nested list of menu items. Each menu item contains:
 *   - attributes: HTML attributes for the menu item.
 *   - below: The menu item child items.
 *   - title: The menu link title.
 *   - url: The menu link url, instance of \Drupal\Core\Url
 *   - localized_options: Menu link localized options.
 *
 * @ingroup templates
 */
#}
{% import _self as menus %}
{#
  We call a macro which calls itself to render the full tree.
  @see http://twig.sensiolabs.org/doc/tags/macro.html
#}
{{ menus.menu_links(items, 0, 'accordion') }}

{% macro menu_links(items, menu_level, parentHashId) %}
    {% import _self as menus %}
    {% if items %}
        {% for item in items %}
            {# {% if menu_level != 0 %}
                 <ul{{ attributes.addClass('dropdown-menu') }}>
             {% endif %} #}
            {% set hashId = uniqid() %}
            {% if item.below %}
                <div class="panel panel-default">
                    <div class="panel-heading accordion-toggle collapsed">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion"
                               href="#{{ hashId }}" tabindex="-1">{{ item.title }} <span
                                        class="caret"></span></a>
                        </h4>
                    </div>
                    <div id="{{ hashId }}" class="panel-collapse collapse">
                        <ul class="list-group">
                            {{ menus.menu_links(item.below, menu_level + 1, hashId) }}
                        </ul>
                    </div>
                </div>
            {% else %}
                {% set isGetStarted = item.title|split("::")[1] == "Button" %}
                {% if isGetStarted %}
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a href="{{ item.url }}" class="btn btn-primary sc-cta-desktop-get-started pull-left"
                               role="button" tabindex="-1">{{ item.title|split("::")[0] }} </a>
                        </h4>
                    </div>
                {% elseif item.title|split("::")[1] == "QL" %}
                    <div class="sc-visible-1200 panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a role="button"
                                   href="{{ item.url }}" tabindex="-1">{{ item.title|split("::")[0] }}</a>
                            </h4>
                        </div>
                    </div>
                {% else %}
                    <li class="list-group-item"><a href="{{ item.url }}" tabindex="-1">{{ item.title }}</a></li>
                {% endif %}
            {% endif %}
        {% endfor %}
    {% endif %}
{% endmacro %}