<div class="container">
    <div class="row">
        <div class="col-sm-12">
            {{ content['body'] }}
        </div>
    </div>

    <div class="row">
        {% set footer_elements = content['field_footer_elements']['#items'] %}
        <div class="row">
            <div class="col-sm-9">
                <div class="row">
                    <div class="col-sm-4">
                        {{ footer_elements[0].entity.body[0].value|raw }}
                        {% set size =  footer_elements[0].entity.field_links|length - 1 %}
                        <ul class="list-inline social-media-links">
                            {% for index in 0..size %}
                                <li><a href="{{ footer_elements[0].entity.field_links[index].url }}" target="_blank" tabindex="0"><i
                                                class="{{ footer_elements[0].entity.field_links[index].title }} "></i></a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="col-sm-4">
                        {{ footer_elements[1].entity.body[0].value|raw }}
                        {% set size =  footer_elements[1].entity.field_links|length - 1 %}
                        <ul class="list-unstyled">
                            {% for index in 0..size %}
                                <li><a href="{{ footer_elements[1].entity.field_links[index].url }}"
                                       target="_blank" tabindex="0">{{ footer_elements[1].entity.field_links[index].title }} </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="col-sm-4">
                        {{ footer_elements[2].entity.body[0].value|raw }}
                        {% set size =  footer_elements[2].entity.field_links|length - 1 %}
                        <ul class="list-unstyled">
                            {% for index in 0..size %}
                                <li><a href="{{ footer_elements[2].entity.field_links[index].url }}" tabindex="0"
                                       target="_blank">{{ footer_elements[2].entity.field_links[index].title }} </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                 </div>
                {% set size =  footer_elements[3].entity.field_links|length - 1 %}
                <div class="row">
                    <div class="col-sm-12">
                        <ul class="list-inline">
                            {% for index in 0..size %}
                                <li><a href="{{ footer_elements[3].entity.field_links[index].url }}" tabindex="0"
                                       target="_blank">{{ footer_elements[3].entity.field_links[index].title }} </a>
                                </li>
                            {% endfor %}
                        </ul>
                        </div>
                    </div>
            </div>
            <div class="col-sm-3">
                <a target="_blank" href="{{ footer_elements[4].entity.field_links[0].url }}" tabindex="0"><img class="sc-50years-community" src="{{ file_url(footer_elements[4].entity.field_img.0.entity.uri.value) }}"
                                                                                                               alt="{{ footer_elements[4].entity.field_img.0.alt }}" ></a>
            </div>

        </div>
    </div>


</div>