{#
/**
 * @file
 * Default theme implementation for a breadcrumb trail.
 *
 * Available variables:
 * - breadcrumb: Breadcrumb trail items.
 *
 * @ingroup templates
 */
#}
{% set error_page_title = 'Page Not Found!!' %}
<div class="container">
    <div class="row">
        <div class="col-md-12 breadcrumb-container">
            <ol class="breadcrumb">
                <li><a href="/"><span class="sr-only">M. Rosetta Hunter Art Gallery home page</span><i class="icon ion-home"></i></a></li>
                {% if breadcrumb and current_page_title != error_page_title %}
                    {% for item in breadcrumb %}
                        {% if not loop.last %}
                            <li {{ item.attributes }}>
                                {% if item.url %}
                                    <a tabindex="0" href="{{ item.url }}">{{ item.text }}</a>
                                {% else %}
                                    {{ item.text }}
                                {% endif %}
                            </li>
                        {% endif %}
                    {% endfor %}
                {% endif %}
                <li class="active" tabindex="-1">{{ current_page_title }}</li>
            </ol>
        </div>
    </div>
</div>